@page
@model TournamentApp.Areas.Tournaments.Pages.Manage_Tournaments.CreateScheduleModel
@{
    Layout = "~/Areas/Tournaments/Pages/Manage_Tournaments/_Layout.cshtml";
    ViewData["Title"] = "CreateSchedule";
}

<div class="row m-2">
    <h1>Create</h1>

    <h4>Match</h4>
    <hr />
    <div class="col-md-4">
        <p>Testing</p>
    </div>
</div>

<div>
    <a asp-page="../Matches" asp-route-trId=@Model.TournamentId>Back to List</a>
</div>